.container {
  display: flex;
  flex-direction: row;
}
.side-bar {
  width: 5vw;
  height: 100vh;
}
.main-content {
  width: 90vw;
  height: 100vh;
}

.users-preview {
  width: 90vw;
  height: 10vh;
}

.games-list {
  width: 90vw;
  height: 90vh;
}
