<div class="container">
  <ng-container *ngIf="colorsOfMainIcons && !leftIcon">
    <app-card
      *ngFor="let name of names; let i = index"
      [name]="name"
      [colorOfMainIcon]="colorsOfMainIcons[i]"
      (leftButtonClick)="onLeftButtonClick(i)"
      (rightButtonClick)="onRightButtonClick(i)"
      (cardClick)="onCardClick(i)"
      class="item"
    ></app-card>
  </ng-container>
  <ng-container *ngIf="!colorsOfMainIcons && !leftIcon">
    <app-card
      *ngFor="let name of names; let i = index"
      [name]="name"
      (leftButtonClick)="onLeftButtonClick(i)"
      (rightButtonClick)="onRightButtonClick(i)"
      (cardClick)="onCardClick(i)"
      class="item"
    ></app-card>
  </ng-container>
  <ng-container *ngIf="colorsOfMainIcons && leftIcon">
    <app-card
      *ngFor="let name of names; let i = index"
      [name]="name"
      [leftIcon]="leftIcon"
      [colorOfMainIcon]="colorsOfMainIcons[i]"
      (leftButtonClick)="onLeftButtonClick(i)"
      (rightButtonClick)="onRightButtonClick(i)"
      (cardClick)="onCardClick(i)"
      class="item"
    ></app-card>
  </ng-container>
  <ng-container *ngIf="!colorsOfMainIcons && leftIcon">
    <app-card
      *ngFor="let name of names; let i = index"
      [name]="name"
      [leftIcon]="leftIcon"
      (leftButtonClick)="onLeftButtonClick(i)"
      (rightButtonClick)="onRightButtonClick(i)"
      (cardClick)="onCardClick(i)"
      class="item"
    ></app-card>
  </ng-container>
</div>
