<div class="container">
  <div class="search-input">
    <app-search-input
      placeholder="FRIENDS_PAGE.SEARCH_USER_PLACEHOLDER"
      (textSubmit)="onSearchSubmit($event)"
      (resetSubmit)="onReset()"
    ></app-search-input>
  </div>
  <ng-container
    *ngIf="{
      users: allUsers$ | async,
      isInRelationList: listOfIsNotInRelationWithUser$ | async
    } as data"
  >
    <app-card-container
      *ngIf="data.users"
      [names]="data.users | usernames"
      [mainIcons]="['person']"
      [colorOfMainIcons]="data.users | colorsGender"
      [leftIconEnables]="data.isInRelationList"
      [leftIcons]="['add']"
      [rightIcons]="['mail']"
      (leftButtonClick)="onLeftClick(data.users[$event])"
    ></app-card-container>
  </ng-container>
</div>
