@import "../../../../variables.scss";

.container {
  display: flex;
  flex-direction: row;
  width: 50vw;
}

input {
  width: 80%;
  height: 3vh;
  border: solid $secondary-color 0.1vw;
  outline-color: $primary-color;
  box-sizing: border-box;
}

input::placeholder {
  color: $secondary-color;
  text-align: center;
}

button {
  width: 20%;
  height: 3vh;
  background-color: $primary-color;
  border: none;
  outline: none;
  cursor: pointer;
}
