<div [ngClass]="{ clickable: clickable, card: true }">
  <div class="logo" (click)="onCardClick()">
    <mat-icon class="logo-icon" [ngStyle]="{ color: colorOfMainIcon }">{{
      mainIcon
    }}</mat-icon>
  </div>
  <div class="name" (click)="onCardClick()">{{ name }}</div>
  <div class="buttons">
    <mat-icon
      [ngClass]="{ disable: !leftIconEnable }"
      (click)="onLetfButtonClick()"
      >{{ leftIcon }}</mat-icon
    >
    <mat-icon
      [ngClass]="{ disable: !rightIconEnable }"
      (click)="onRightButtonClick()"
      >{{ rightIcon }}</mat-icon
    >
  </div>
</div>
