@import "../../../../variables.scss";
.container {
  text-align: center;
  display: grid;
  grid-template-columns: 5vw 5vw 5vw;
  grid-template-rows: 2vh 1vh;
  grid-template-areas:
    "text-chat text-forum text-pw"
    "underline-chat underline-forum underline-pw";
}

.text-chat {
  grid-area: text-chat;
}

.text-forum {
  grid-area: text-forum;
}

.text-pw {
  grid-area: text-pw;
}

.underline-chat {
  grid-area: underline-chat;
}

.underline-forum {
  grid-area: underline-forum;
}

.underline-pw {
  grid-area: underline-pw;
}

.underline {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100%;
  border-radius: 40px;
  background-color: $primary-color;
}
