.left-bar {
  background-color: #1ae8ad;
  width: 20vw;
  height: 100vh;
  position: relative;
  animation-name: left-bar-appear;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.game-icon {
  width: 80%;
}

@keyframes left-bar-appear {
  0% {
    left: -20vw;
  }
  100% {
    left: 0vw;
  }
}

.inscription-one {
  font-size: 5vh;
  text-align: center;
  height: 6vh;
  line-height: 5vh;
  font-family: Rasa;
}

.inscription-second {
  font-size: 4vh;
  text-align: center;
  height: 5vh;
  line-height: 4vh;
  font-family: Rasa;
}

.inscription-third {
  font-size: 3vh;
  text-align: center;
  height: 4vh;
  line-height: 3vh;
  font-family: Rasa;
}

.left-bar-content {
  display: flex;
  flex-direction: column;
}
