.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  width: 30%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  border: solid #1ae8ad 0.2vw;
  border-radius: 10px;
  animation-name: form-appear;
  animation-duration: 0.5s;
  position: relative;
  background-color: #ffffff;

  .text-input {
    width: calc(80% - 0.4vw);
    height: 2.5vh;
    margin-left: 10%;
    border: solid #cededb 0.1vw;
    outline-color: #1ae8ad;
  }

  .text-input::placeholder {
    color: #cededb;
    text-align: center;
  }

  button {
    width: 80%;
    height: 3vh;
    background-color: #1ae8ad;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .main-label {
    margin-left: 10%;
    font-size: 1.5vh;
    font-weight: bold;
  }
  .error {
    color: #d11a0f;
    font-size: 1.5vh;
    line-height: 1.5vh;
    height: 2vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    margin-top: 10%;
  }

  .error-input {
    border: solid #d11a0f 0.1vw;
  }

  .error-input:focus {
    border: solid #1ae8ad 0.2vw;
  }

  .login-button {
    width: 2vw;
    height: 2vw;
    background-color: #cededb;
    border-radius: 10px;
    text-align: center;
    line-height: 1.5vw;
    font-size: 1.5vw;
  }

  .register-button {
    width: 2vw;
    height: 2vw;
    background-color: #1ae8ad;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 1.5vw;
    font-size: 1.5vw;
  }

  .navigation-bar {
    position: relative;
    top: -1.1vw;
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    margin-left: 70%;
    justify-content: space-between;
  }
}

@keyframes form-appear {
  0% {
    top: -50vh;
  }
  100% {
    top: 0vh;
  }
}

.gender-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.radio-input {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.radio-label {
  font-size: 1vh;
  line-height: 2vh;
}
